@import "colors";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Niconne&display=swap');

#validation {
  color: $wbrown !important;
  background-color: $maroon !important;
  width: 15em !important;
  font-weight: bold !important;
  font-size: 1.2em !important;
}
#validation:hover {
  background-color: $dmaroon !important;
}

#listInvit {
  border: 0.2em solid $maroon !important;

  #notaire {
    width: 45em;
    height: 30em;
  }

}

.jumbotron {
  background-color: #fff !important;

  .display-3 {
    font-size: 2.5em;
    font-weight: bold;
  }
  #consignes {
    font-size: 1.5em;
  }
}

#labelNone {
  display: none;
}

.p-tlp {
  font-size: 2em;
  color: $maroon;
  font-weight: 900;
}
