@import "colors";

.navbar {
  color : $wbrown !important;
  background-color: $maroon !important;
  .nav-link{
    color: $wbrown !important;
  }

  .navbar-brand {
    color: $wbrown !important;
    font-family: 'Niconne', cursive !important;
    font-size: 2em !important;
  }
}

.slider {
  min-height: 100vh;
}

.card-header {
  background-color: #fff !important;
  font-size: 1.2em !important;
  font-weight: bold !important;
}
#presentation, #profs{
  border: 0.2em solid $maroon !important;
}

#event {
  background-color: $maroon !important;
}

#jouer, #inscription {
  color: $wbrown !important;
  background-color: $lbrown !important;
  width: 15em !important;
  font-weight: bold !important;
  font-size: 1.2em !important;
}

#foot1 {
  background-color: #fff;
  border-top: 0.2em solid $dbrown;
  margin: 0 auto !important;

  .logoSimplon {
    width: 8em;
    height: 8em;
    padding: 1em;
  }
  .logoArdennesMet {
    width: 25em;
    height: 8em;
    padding: 1em;
  }
  .logoHackArdennes {
    width: 20em;
    height: 9em;
    padding: 1em;
  }

  .logoRT {
    width: 20em;
    height: 7em;
  }
}
#foot2 {
  min-height: 20em !important;
  color: $lbrown !important;
  background-color: $dbrown !important;
  margin: 0 auto !important;
}
