@import "colors";

#selectInfo {
  width: 15em !important;
  color: $wbrown !important;
  background-color: $lbrown !important;
  font-weight: bold !important;
  font-size: 1.2em !important;
}
#selectInfo:hover {
  background-color: $maroon !important;
}
